.container{
    display: flex;
    flex: 1;
    background-color: white;
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
}
.header{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px darkgray solid;
}
.list{
    display: flex;
    flex-direction: column;
    max-height: 900px;
    overflow-y: visible;
}
.file{
    border-radius: 5px;
    display: flex;
    margin: 10px;
    cursor: pointer;
    flex-direction: column;
    border-bottom: 1px lightgray solid;
    transition: .3s;
}
.file:hover{
    background-color: dodgerblue;
    transition: .3s;
}
.name{
    display: flex;
    font-size:16px;
    margin: 5px;
}
.auth{
    display: flex;
    margin: 5px;
    font-size: 14px;
    color: lightgray;
}
.input{
    display: flex;
    padding: 10px;
    margin: 10px;
}
.select{
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}
.files{
    border-radius: 5px;
    display: flex;
    margin: 10px;
    cursor: pointer;
    flex-direction: column;
}
.btn{
    margin: 10px;
    align-self: center;
}
.prog{
    display: flex;
    height: 40px;
    padding: 5px;
    margin: 5px;
    cursor: default;
    align-items: center;
    justify-content: flex-start;
}
.time{
    display: flex;
    height: 100%;
    width: 60px;
    align-items: center;
    justify-content: center;
    border: 1px darkgray solid;
}
.input2{
    display: flex;
    flex: 1;
    border: 1px darkgray solid;
    height: 100%;
    padding: 5px;
    font-size: 16px;
}
.icon{
    display: flex;
    width: 40px;
    height: 100%;
    cursor: pointer;
}